@using Spellfire.Model
@model Spellfire.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Spellfire Search";
}

<div class="input-group" style="padding-top: 10px; width: 280px;">
    @Html.TextBoxFor(m => m.SearchText, new { value = Model.SearchText, @class = "form-control", placeholder = "Type to search" })
    <span id="search" class="input-group-addon">
        <i class="fa fa-search"></i>
    </span>
</div>

<div>
    <div id="cardList" class="pull-left">
    </div>
    <div id="cardDetail" class="pull-left">
    </div>
</div>

