@using Spellfire.Model
@using Spellfire.Common.Extensions
@model Spellfire.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Spellfire Search";
}

<div style="padding: 10px 0 10px 0;">
    @Html.CheckBoxFor(m => m.IncludeOnlineBoosters, new { id = "includeOnlineBoosters" })
    @Html.LabelFor(m => m.IncludeOnlineBoosters, new { id = "includeOnlineBoostersLabel" })
    <div class="input-group" style="width: 280px;">
        @Html.TextBoxFor(m => m.SearchText, new { value = Model.SearchText, @class = "form-control", placeholder = Model.GetPropertyDisplayPrompt(x => x.SearchText) })
        <span id="search" class="input-group-addon">
            <i class="fa fa-search"></i>
        </span>
    </div>
</div>

<div>
    <div id="errorMessage" class="alert alert-danger hidden" style="width: 280px;"></div>
    <div id="cardList" class="pull-left"></div>
    <div id="cardDetail" class="pull-left"></div>
</div>

@section Styles{

    <link href="~/css/index.css" rel="stylesheet" type="text/css" />
    <link href="~/css/card.css" rel="stylesheet" type="text/css" />
}

@section Scripts{

    <script src="~/Scripts/app/home.js"></script>

    <script>
        $(document).ready(function () {
            Spellfire.Home.init();
        });
    </script>
}
