@model Spellfire.Model.Card

<div class="cardFooter">
    <div class="cardRarity pull-left">@Model.Rarity.ShortName</div>
    <div class="cardBooster pull-left">@Model.Booster.Name
        @*<img src="~/Images/worlds/add.gif" alt="" />*@
    </div>
    <div class="cardNumber pull-right">@Model.Number of @Model.NumberSet</div>
    <div class="clear-both"></div>
</div>