@using Spellfire.Model
@using Spellfire.Common.Extensions
@model Spellfire.Web.Models.HomeViewModel
@{
    var isFilteredResults = Model.FilteredCards.Count() >= Model.MaxCardCount;
    var cardCountMessage = isFilteredResults
        ? string.Format("Showing only top {0} cards for '{1}'", Model.FilteredCards.Count(), Model.SearchText)
        : string.Format("{0} cards found for '{1}'", Model.FilteredCards.Count(), Model.SearchText);
}

<div id="resultsMessage">
    @cardCountMessage
</div>
<div id="cardResults" class="list-group">
    @foreach (var c in Model.SortedCards)
    {
        var cardType = c.CardKinds.Where(x => x.IsIcon).SingleOrDefault();
        var icon = cardType != null && cardType.Kind != null ? cardType.Kind.IconPath : KindKey.None.GetDisplayDescription();
        
        <a href="#" class="selectable list-group-item" data-sequence="@c.SequenceNumber">
            <img src="~/Images/icons/small/@icon" alt=""/>
            [@c.Booster.ShortName] @c.Name</a>
    }
    @if (isFilteredResults)
    {
        <a href="#" class="list-group-item findMore">[Filter further if your card is not listed]</a>
    }
</div>
