@model Spellfire.Model.Card

<div class="cardRuleHeader">
    <div class="cardWorld pull-left">
        <img src="~/Images/worlds/@Model.WorldPath" alt="" class="world"/>
    </div>
    <div class="pull-right">Dungeon</div>
</div>
<div class="cardRuleTitle">
    <div class="cardRuleName pull-left">@Model.Name</div>
</div>
<div class="cardRulePower">@Model.Power <span class="blueline" title="Blueline">@Model.Blueline</span></div>
