@using Spellfire.Model
@using Spellfire.Common.Extensions
@model Spellfire.Web.Models.HomeViewModel
@{
    var cardCountMessage = string.Format("Showing top {0} results for '{1}'", Model.FilteredCards.Count(), Model.SearchText);
}

<div id="resultsMessage">
    @cardCountMessage
</div>
<div id="cardResults" class="list-group">
    @foreach (var c in Model.SortedCards)
    {
        var cardType = c.CardKinds.Where(x => x.IsIcon).SingleOrDefault();
        var icon = cardType != null && cardType.Kind != null ? cardType.Kind.IconPath : KindKey.None.GetDisplayDescription();
        
        <a href="#" class="selectable list-group-item" data-sequence="@c.SequenceNumber">
            <img src="~/Images/icons/small/@icon" alt=""/>
            [@c.Booster.ShortName] @c.Name</a>
    }
    @if (Model.FilteredCards.Count() >= Model.MaxCardListCount)
    {
        <a href="#" class="list-group-item findMore">[Filter further if your card is not listed]</a>
    }
</div>
